<!-- Single Image with Lightbox -->
<!-- Usage:
    lightbox
    link=<link to image> (required)
    thumb=<link to preprocessed thumbnail> (optional)
    width=nnn (optional)
    height=nnn (optional)
    title=<caption> (optional)
    alt=<alt text> (optional)   
-->

{{ $link := .Get "link" }}
{{ $thumb := .Get "thumb" }}
{{ $alttext := .Get "alt" }}
{{ if not $alttext }}
    {{ if .Get "title" }}
        {{ $alttext = .Get "title" }}
    {{ else }}
        {{ $alttext = $link }}
    {{ end }}
{{ end }}

{{ if not $thumb }}
    {{ $image := "" }}
    {{ if resources.GetMatch ($link) }}
        {{ $image = .resources.Get ($link) }}
    {{ else }}
        {{ $image = .Page.Resources.Get ($link) }}
    {{ end }}

    {{ if $image }}
        {{ $size := "160x100" }}
        {{ with $.Get "width" }}
            {{ with $.Get "height" }}
                {{ $thumb = $image.Process (printf "Fill %sx%s q60" ($.Get "width" ) ($.Get "height" )) }}
            {{ else }}
                {{ $thumb = $image.Process (printf "Resize %sx q60" ($.Get "width" )) }}
            {{ end }}
        {{ else }}
            {{ with $.Get "height" }}
                {{ $thumb = $image.Process (printf "Resize x%s q60" ($.Get "height" )) }}
            {{ else }}
                {{ $thumb = $image.Process (printf "Fill %s q60" $size) }}
            {{ end }}
        {{ end }}
        {{ $thumb = $thumb.Permalink }}
    {{ end }}
{{ end }}

<figure{{ if or (.Get "class") (eq (.Get "align") "center") }} class="
           {{- if eq (.Get "align") "center" }}align-center {{ end }}
           {{- with .Get "class" }}{{ . }}{{- end }}"
{{- end -}}>
<a href="{{ $link }}" data-lightbox="x" {{ if .Get "title" }}data-title="{{ .Get "title" }}"{{ end }} data-alt="{{ $alttext }}"><img src="{{ $thumb }}{{- if eq (.Get "align") "center" }}#center{{- end }}" alt="{{ $alttext }}" /></a>
</figure>